{% include 'header.html'%}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">Base Portlets</h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <a href="#" class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">Portlets</span>
            </a>
          </li>
          <li class="m-nav__separator">-</li>
          <li class="m-nav__item">
            <a href="" class="m-nav__link">
              <span class="m-nav__link-text">Base Portlets</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- END: Subheader -->
  <div class="m-content">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                  Basic Portlet
                  <small>portlet sub title</small>
                </h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="m-portlet__body-progress">Loading</div>
            99
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html'%}
